$dp__font_family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif !default;

$dp__border_radius: 4px !default;

$dp__month_year_row_height: 35px !default;
$dp__cell_border_radius: $dp__border_radius !default;

$dp__font_size: 1rem !default;
$dp__preview_font_size: 0.8rem !default;
$dp__time_font_size: 2rem !default;

$dp__cell_size: 35px !default;
$dp__cell_padding: 5px !default;
$dp__common_padding: 10px !default;
