// General
$dp__font_family: -apple-system, blinkmacsystemfont, "Segoe UI", roboto, oxygen, ubuntu, cantarell, "Open Sans",
  "Helvetica Neue", sans-serif !default; // Font size for the menu
$dp__font_family_def: var(--dp-font-family, $dp__font_family) !default;
$dp__border_radius: var(--dp-border-radius, 4px) !default; // Configurable border-radius
$dp__cell_border_radius: var(--dp-cell-border-radius, $dp__border_radius) !default; // Specific border radius for the calendar cell

// Transitions
$dp__transition_length: 22px !default; // Passed to the translateX in animation
$dp__transition_duration: 0.1s !default; // Transition duration

// Sizing
$dp__button_height: var(--dp-button-height, 35px) !default; // size for buttons in overlays
$dp__month_year_row_height: var(--dp-month-year-row-height, 35px) !default; // height of the month-year select row
$dp__month_year_row_button_size: var(--dp-month-year-row-button-size, 25px)  !default; // Specific height for the next/previous buttons
$dp__button_icon_height: var(--dp-button-icon-height, 20px) !default; // icon sizing in buttons
$dp__cell_size: var(--dp-cell-size, 35px) !default; // width and height of calendar cell
$dp__cell_padding: var(--dp-cell-padding, 5px) !default; // padding in the cell
$dp__common_padding: var(--dp-common-padding, 10px)  !default;
$dp__input_icon_padding: var(--dp-input-icon-padding, 35px)  !default; // Padding on the left side of the input if icon is present

$dp__input_padding: 6px 30px 6px 12px !default; // padding in the input
$dp__input_padding_def: var(--dp-input-padding, $dp__input_padding) !default;
$dp__menu_min_width: var(--dp-menu-min-width, 260px) !default; // Adjust the min width of the menu

$dp__action_buttons_padding: 2px 5px !default; // Adjust padding for the action buttons in action row
$dp__action_buttons_padding_def: var(--dp-action-buttons-padding, $dp__action_buttons_padding) !default;
$dp__row_margin: 5px 0 !default; // Adjust the spacing between rows in the calendar
$dp__row_margin_def: var(--dp-row-maring, $dp__row_margin) !default;
$dp__calendar_header_cell_padding: var(--dp-calendar-header-cell-padding, 0.5rem) !default; // Adjust padding in calendar header cells
$dp__two_calendars_spacing: var(--dp-two-calendars-spacing, 10px) !default; // Space between two calendars if using two calendars
$dp__overlay_col_padding: var(--dp-overlay-col-padding, 3px) !default; // Padding in the overlay column
$dp__time_inc_dec_button_size: var(--dp-time-inc-dec-button-size, 32px) !default; // Sizing for arrow buttons in the time picker

// Font sizes
$dp__font_size: var(--dp-font-size, 1rem) !default; // overall font-size
$dp__preview_font_size: var(--dp-preview-font-size, 0.8rem) !default; // font size of the date preview in the action row
$dp__time_font_size: var(--dp-time-font-size, 2rem) !default; // font size in the time picker
