.dp__action_row {
  display: flex;
  align-items: center;
  width: 100%;
  padding: $dp__common_padding;
  box-sizing: border-box;
  color: var(--dp-text-color);
  flex-flow: row nowrap;


  svg {
    height: $dp__button_icon_height;
    width: auto;
  }
}

.dp__selection_preview {
  display: block;
  align-items: center;
  justify-content: flex-start;
  flex-basis: 50%;

  color: var(--dp-text-color);
  font-size: $dp__preview_font_size;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dp__action_buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-basis: 50%;
  text-align: right;
}

.dp__action_button {
  background: transparent;
  border: 1px solid transparent;
  padding: 1px 6px;
  line-height: initial;
  margin-left: 3px;
  cursor: pointer;
  border-radius: $dp__border_radius;
}

.dp__action_select {
  background: var(--dp-primary-color);
  color: var(--dp-primary-text-color);

  &:hover {
    background: var(--dp-primary-color);
    transition: var(--dp-action-row-transtion);
  }

  &:disabled {
    background: var(--dp-primary-disabled-color);
    cursor: not-allowed;
  }
}

.dp__action_cancel {
  color: var(--dp-text-color);
  border: 1px solid var(--dp-border-color);

  &:hover {
    border-color: var(--dp-primary-color);
    transition: var(--dp-action-row-transtion);
  }
}
