.dp__month_year_row {
  display: flex;
  align-items: center;
  height: var(--dp-month-year-row-height);
  color: var(--dp-text-color);
  box-sizing: border-box;
}

.dp__inner_nav {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  height: var(--dp-month-year-row-button-size);
  width: var(--dp-month-year-row-button-size);
  color: var(--dp-icon-color);
  text-align: center;
  border-radius: 50%;

  svg {
    height: var(--dp-button-icon-height);
    width: var(--dp-button-icon-height);
  }

  &:hover {
    background: var(--dp-hover-color);
    color: var(--dp-hover-icon-color);
  }
}

%__dp_inner_nav_disabled {
  background: var(--dp-disabled-color);
  color: var(--dp-disabled-color-text);
  cursor: not-allowed;
}

.dp__inner_nav_disabled {
  @extend %__dp_inner_nav_disabled;

  &:hover {
    @extend %__dp_inner_nav_disabled;
  }
}

.dp__month_year_select {
  width: 50%;
  text-align: center;
  cursor: pointer;
  height: var(--dp-month-year-row-height);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: var(--dp-border-radius);
  box-sizing: border-box;
  color: var(--dp-text-color);

  &:hover {
    background: var(--dp-hover-color);
    color: var(--dp-hover-text-color);
  }
}

.dp__month_year_wrap {
  display: flex;
  width: 100%;
}

.dp__year_disable_select {
  justify-content: space-around;
}
