
%dp--btn-placeholder {
  border: none;
  font: inherit;
  transition: var(--dp-common-transition);
  line-height: normal;
}

.dp--year-mode-picker {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  height: var(--dp-cell-size);
}