.dp__calendar_tb {
    font-family: $dp__font_family;
    border-collapse: collapse;
}

.dp__calendar {
    position: relative;
}

.dp__calendar_content_wrap {
    position: relative;
}

.dp__calendar_days {
    color: $dp__text_color_def;
}

.dp__calendar_header_cell {
    border-bottom: thin solid $dp__in_border_color;
    padding: 0.5rem;
}

.dp__cell {
    position: relative;
}

.dp__cell_inner {
    vertical-align: middle;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: $dp_cell_border_radius;
    height: 30px;
    padding: $dp__cell_padding;
    width: 30px;
}

.r__date_hover {
    &:hover {
        background: $dp__default_hover;
    }
}

.dp__cell_offset {
    color: $dp__secondary_color;
}

.dp__active_date {
    background: $dp__primary_color;
    color: $dp__primary_text_color;
}

.dp__date_hover {
    &:hover {
        background: $dp__default_hover;
    }
}

.dp__range_between {
    background: $dp__default_hover;
}

.dp__today {
    border: 1px solid $dp__primary_color;
}

.dp__week_num {
    color: $dp__secondary_color;
}
