.dp__calendar_tb {
    font-family: $dp__font_family;
    border-collapse: collapse;
    color: var(--dp-text-color);
}

.dp__calendar {
    position: relative;
}

.dp__calendar_content_wrap {
    position: relative;
}

.dp__calendar_days {
    color: var(--dp-text-color);
}

.dp__calendar_header_cell {
    border-bottom: thin solid var(--dp-border-color);
    padding: 0.5rem;
}

.dp__cell {
    position: relative;
}

.dp__cell_inner {
    vertical-align: middle;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: $dp_cell_border_radius;
    height: 30px;
    padding: $dp__cell_padding;
    width: 30px;
}

.dp__cell_offset {
    color: var(--dp-secondary-color);
}

.dp__cell_disabled {
    color: var(--dp-secondary-color);
    cursor: not-allowed;
}

.dp__active_date {
    background: var(--dp-primary-color);
    color: var(--dp-primary-text-color);
}

.dp__date_hover {
    &:hover {
        background: var(--dp-hover-color);
    }
}

.dp__range_between {
    background: var(--dp-hover-color);
}

.dp__today {
    border: 1px solid var(--dp-primary-color);
}

.dp__week_num {
    color: var(--dp-secondary-color);
    text-align: center;
}
