.dp__menu {
    position: absolute;
    background: var(--background-color);
    border-radius: $dp__border_radius;
    min-width: 260px;
    font-family: $dp__font_family;
    user-select: none;
    border: 1px solid var(--border-color);
    z-index: 1;
}

.dp__arrow_top {
    left: 50%;
    top: -1px;
    height: 12px;
    width: 12px;

    background-color: var(--background-color);
    position: absolute;
    border-left: 1px solid var(--border-color);
    border-top: 1px solid var(--border-color);
    transform: translate(-50%, -50%) rotate(45deg);
}

.dp__arrow_bottom {
    left: 50%;
    bottom: -1px;
    height: 12px;
    width: 12px;

    background-color: var(--background-color);
    position: absolute;
    border-right: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
    transform: translate(-50%, 50%) rotate(45deg);
}
