.dp__menu {
    position: absolute;
    background: var(--dp-background-color);
    border-radius: $dp__border_radius;
    min-width: 260px;
    font-family: $dp__font_family;
    font-size: $dp__font_size;
    user-select: none;
    border: 1px solid var(--dp-border-color);
    z-index: 99999;
    box-sizing: unset;
}

.dp__calendar_wrapper {
    display: flex;
}

.dp__arrow_top {
    left: 50%;
    top: -1px;
    height: 12px;
    width: 12px;

    background-color: var(--dp-background-color);
    position: absolute;
    border-left: 1px solid var(--dp-border-color);
    border-top: 1px solid var(--dp-border-color);
    transform: translate(-50%, -50%) rotate(45deg);
}

.dp__arrow_bottom {
    left: 50%;
    bottom: -1px;
    height: 12px;
    width: 12px;

    background-color: var(--dp-background-color);
    position: absolute;
    border-right: 1px solid var(--dp-border-color);
    border-bottom: 1px solid var(--dp-border-color);
    transform: translate(-50%, 50%) rotate(45deg);
}
