.dp__month_year_row {
    display: flex;
    align-items: center;
    height: $dp__month_year_row_height;
    color: var(--dp-text-color);
}

.dp__month_year_col_nav {
    padding: 5px;
    display: flex;
    height: 25px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 25px;
    color: var(--dp-icon-color);
    text-align: center;
    border-radius: 50%;

    &:hover {
        background: var(--dp-hover-color);
    }
}

.dp__month_year_select {
    width: 50%;
    text-align: center;
    cursor: pointer;
    height: $dp__month_year_row_height;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: $dp__border_radius;

    &:hover {
        background: var(--dp-hover-color);
    }
}
