.dp__time_input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-family: $dp__font_family;
    color: var(--dp-text-color);
}

.dp__time_col {
    padding: 0 20px;
    font-size: 2rem;
    text-align: center;
}

.dp__time_display {
    cursor: pointer;
    color: var(--dp-text-color);
    border-radius: $dp__border_radius;

    &:hover {
        background: var(--dp-hover-color);
    }
}

.dp__inc_dec_button {
    padding: 5px 5px;
    height: 32px;
    width: 32px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    color: var(--dp-icon-color);

    &:hover {
        background: var(--dp-hover-color);
        color: var(--dp-primary-color);
    }
}

.dp__pm_am_button {
    background: var(--dp-primary-color);
    color: var(--dp-primary-text-color);
    border: none;
    padding: 10px;
    border-radius: $dp__border_radius;
    cursor: pointer;
}
