.dp__time_input {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-family: $dp__font_family;
    color: var(--text-color);
}

.dp__time_col {
    padding: 0 20px;
    font-size: 2rem;
    text-align: center;
}

.dp__time_display {
    cursor: pointer;
    color: var(--text-color);
    border-radius: $dp__border_radius;

    &:hover {
        background: var(--hover-color);
    }
}

.dp__inc_dec_button {
    padding: 5px 5px;
    display: flex;
    align-items: center;
    cursor: pointer;
    border-radius: 50%;
    color: var(--icon-color);

    &:hover {
        background: var(--hover-color);
        color: var(--primary-color);
    }
}
